@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 메인페이지 공통 범위 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

/* 메인 영역 크기 조절 */
main {
    width: 1250px;
    margin: 0 auto;
    margin-top: 100px;
}



/*
    ul, li 태그 리스트 모양 제거
*/
ul, li {
    list-style:none;
}


/* 이게 뭘까? */
.hwClearFix:after {
    content: ' ';
    display: block;
    clear: both;
}

/*
  a(anchor):
  - 링크 밑줄 제거
  - a태그 색상 변경
*/
a {
    text-decoration: none;
    color: gray;
}

/*
    Header 부분 position: absolute 설정으로 인하여
    body(본문) 내용 시작 위치 강제 변경
 */
body {
    overflow-y: scroll;
    padding-top: 100px;
}



/* Header Css Start */
header {
    width: 1200px;
    display:flex;
    justify-content:space-around;
    background: linear-gradient(white 100px,
        rgba(255, 255, 255, 0.9) 100px,
        rgba(255, 255,255, 0.9) );
    height: 100px;
    overflow: hidden;
    transition: height 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
}

header > div {
    line-height: 50px;
}

nav > ul > li {
    float: left;
    line-height: 100px;
    margin-right: 40px;
    font-size:18px;
    position: relative;
}

.hwHeaderBtn {
    text-align: center;
    line-height: 100px;
}

nav > ul > li ul {
    width: 100%;
    line-height:20px;
    position: absolute;
}

nav > ul > li ul li {
    white-space: nowrap;
    font-size: 15px;
    margin-bottom: 15px;
}

#fromInsideOut li span:hover {
    content: "";
    border-bottom: 0.5px solid #000;
    transition: all 250ms ease-out;
}

#fromInsideOut a:hover {
    color:black;
}

 .imgLogo {
     width:100px;
     height:100px;
 }

/* Header Css End */

/* Section Css Start */
section {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;

}

#hwCalendar {
    margin-top: 100px;
}

/* Section Css End */

/* Footer Css Start */
footer {
    width: 1200px;
    margin: 0 auto;
}

/* Footer Css End */

/* Index Css Start */

        /* 검색박스  */
        .hwMainSearchOutDiv {
            display: flex;
            justify-content:center;
        }


        .hwMainSearchDiv {
        width: 580px;
        height:52px;
        border: 1px solid #000;
        border-radius:20px;

        }


        .hwMainSearchInput {
        width: 530px;
        height:45px;
        border: none;
        outline: none;
        margin-left:13px;
        margin-top:1px;

        }

        /* 배너박스 */
        .hwBanner {
            display: flex;
            justify-content: center;
        }
        .hwBannerBox {
            height: 300px;
            width: 1000px;
            margin-top:20px;
            margin-bottom:50px;
            display: flex;
            background-color: #fff;
            border-radius: 20px;
            border: 1px solid #000;
        }


/* Index Css End */

/* Join Css Start */

.hwJoinDd {
    display: inline-block;
    height: 35px;

}

.hwJoinDt {
    display: inline-block;
    width: 120px;
    height: 35px;
    vertical-align: middle;
    color: #454545;
    padding-top:10px;
    margin-top: 10px;
    margin-bottom:15px;


}
.hwJoinDt2, .hwTermsDiv {
   display: inline-block;
    width: 200px;
    height: 35px;
    vertical-align: middle;
    color: #454545;
    padding-top:10px;
    margin-top: 10px;

}

.hwJoinInput {
    border: 1px solid #dbdbdb;
    width: 300px;
    font-size:15px;
    padding-bottom:10px;

}

.hwJoinInput:focus, .hwJoinInput:focus {
    outline: none; /* 포커스시 기본적으로 표시되는 외곽선 제거 */
    border-bottom: 1px solid #dbdbdb; /* 포커스시 하단에 밑줄 추가 */
}

.hwJoinSkillLabel,.hwJoinEmpLabel{
    margin-right: 20px;
}


.hwJoinFieldset {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding:100px;
    padding-top:40px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.hwRadioDd {
   display: block;

}

.hsJoinH1 {
text-align: center;
color: #454545;
}

.hwRequiredSpan {
color: #ad0003;}

.hwJoinBtn {
    height: 40px;
    width:150px;
    background-color: #ffe18f;
    border:2px solid #ffe18f;
    margin-top:30px;
}
.hwJoinBtnDiv {
    margin: 0 auto;
    text-align: center;
}
#hwJoinCancelBtn {
    background-color: #fff;
}

hr{
margin-top:20px;
margin-bottom:20px;
}

h3{
margin-top:70px;
}
/* Join Css End */

/* Login Css Start */
    .hwLoginTitleDiv {
        vertical-align:center;
        text-align:center;
        margin: 50px;


    }

    .hwLoginDiv {
        border: 1px solid #dbdbdb;
        width: 600px;
        margin:50px auto;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items:center;

    }

    .hwLoginInDiv {
    text-align: center; /* 내부 요소 가운데 정렬을 위해 text-align 속성을 사용 */

    }

    .hwLoginForm {

    text-align:center;
    border-radius: 10px;

    }

    .hwLoginInput {
        border:1px solid #6b6b6b;
        width:400px;
        height:50px;
        margin-bottom:10px;
        border-radius:5px;
        padding-left:5px;


    }

    .hwLoginBtn {
        width:400px;
        height:50px;
        background-color: #ffe18f;
        border: 1px solid #ffe18f;
        font-size:16px;
    }


    .hwFIndDiv {
        margin: 10px;
    }
/* Login Css End */