
<Footer class="adminFooter" th:fragment="footerFragment">

    <hr>
    <div class="hwFooterDiv">
        <div class="hwFooterInDiv1">
            <ul>
                <p>고객센터</p>
                <li>대표번호: 1533-XXXX</li>
                <li>운영시간: 오후 09시~오후 6시(주말 및 공휴일 휴무)</li>
                <li>점심시간: 오후 1시 ~ 오후 2시</li>
            </ul>
        </div>

        <div class="hwFooterInDiv2">
            <ul><p>문의</p>
                <li>FAQ</li>
                <li>1:1 문의</li>
            </ul>
        </div>

        <div class="hwFooterInDiv3">
            <ul>
                <li><p>이용약관</p></li>
                <li><p>개인정보 처리방침</p></li>
            </ul>
        </div>
        <div class="hwFooterInDiv4">
            <ul>

                2024 Hello World
                (주)HW / 회사: 서을특별시 서초구 강남대로에 10층짜리 빌딩 갖고싶다. / 사업자등록번호: 있었으면 좋겠다. 푸터에 대체 무슨 말을 써야할까 일단 뭘 써놔야 있어 보이는데 할말이 없네 대표 이름도 써야 하는데 그냥 나로 하지 뭐 대표는 정민지입니다.
                나름 열심히 만들어 놨으니까 무단으로 복제하면 관련 법령에 의해 엄격히 금지되는 건 모르겠지만 일단 울 겁니다. 칭찬이 필요한 자라나는 새싹 개발자에요. 칭찬과 따뜻한 조언 부탁드립니다^^
            </ul>
        </div>

        <div class="hwFooterInDiv5">
            채용문의 : 저희가 뽑는다는 거 아니고 저희 뽑아주실 분 https://github.com/changhui98/HelloWorld

        </div>
    </div>
</Footer>