<header th:fragment="headerFragment">
    <div>
        <h1><a th:href="@{/admin}"><span><img src="/images/logo1.png" class="imgLogo"/></span></a></h1>
    </div>

    <nav class="clearfix mainmenu">
        <ul id="fromInsideOut">
            <li><a href="#"><span>회원 관리</span></a>
                <ul class="submenu">
                    <li><a>회원조회</a></li>
                </ul>
            </li>

            <li><a th:href="@{/admin/board}"><span>게시판 관리</span></a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/board/list}">게시판 관리</a></li>
                    <li><a th:href="@{/admin/board/add}">게시판 등록</a></li>
                    <li><a href="#">게시글 관리</a></li>
                </ul>
            </li>

            <li><a href="#"><span>기타 관리</span></a>
                <ul class="submenu">
                    <li><a>메뉴1</a></li>
                    <li><a>메뉴2</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="admin_btn">
        <a th:href="@{/}">HOME</a>
    </div>
</header>


