<header th:fragment="headerFragment">
    <div>
        <h1><a th:href="@{/admin}"><span><img src="/images/logo1.png" class="imgLogo"/></span></a></h1>
    </div>

    <nav class="hwClearFix mainmenu">
        <ul id="fromInsideOut">

            <li><a href="#"><span>기본 설정</span></a>

            </li>

            <li><a href="#"><span>회원 관리</span></a>
                <ul class="submenu">
                    <li><a>회원 관리</a></li>
                </ul>
            </li>

            <li><a th:href="@{/admin/board/list}"><span>게시판 관리</span></a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/board/list}">게시판 관리</a></li>
                    <li><a th:href="@{/admin/board/add}">게시판 등록</a></li>
                    <li><a href="#">게시글 관리</a></li>
                </ul>
            </li>

            <li><a href="#"><span>기타 관리</span></a>
                <ul class="submenu">
                    <li><a>공지사항</a></li>
                    <li><a>질의응답</a></li>
                    <li><a>FAQ</a></li>
                </ul>
            </li>

            <li><a href="#"><span>파일 관리</span></a>
                <ul class="submenu">
                    <li><a>파일 관리</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="hwHeaderBtn">
        <a th:href="@{/}">HOME</a>
    </div>
</header>


