

<header th:fragment="headerFragment">
    <div class="adminHeader">
        <h1>HEADER</h1>
        <div>
            <ul>
                <li>Homepage</li>
                <li>Logout</li>
            </ul>
        </div>
    </div>
    <nav class="headerNav">
        <ul class="admin_ul">
            <li>
                <a href="#">회원관리</a>
                <ul class="depth_1">
                    <li><a>회원관리 메뉴1</a></li>
                    <li><a>회원관리 메뉴2</a></li>
                    <li><a>회원관리 메뉴3</a></li>
                </ul>
            </li>

            <li>
                <a href="#">게시판관리</a>
                <ul class="depth_1">
                    <li><a>게시판 리스트</a></li>
                    <li><a>게시판 등록</a></li>
                    <li><a>게시글 리스트</a></li>
                </ul>
            </li>

            <li>
                <a href="#">기타관리</a>
                <ul class="depth_1">
                    <li><a>기타 관리1</a></li>
                    <li><a>기타 관리2</a></li>
                    <li><a>기타 관리3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>


