<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/admin/admin.css">
</head>
<body>

<!--Header Start-->
<header th:replace="~{admin/layout/header :: headerFragment}"></header>

<!--Header End-->


<!--Main Start-->
<div>
    <!--Aside Start-->


    <!--Aside End-->

    <!--Content Start-->
    <section layout:fragment="adminContent"></section>
    <!--Content End-->

</div>

<!--Main End-->

<!--Footer Start-->
<footer th:replace="~{admin/layout/footer :: footerFragment}"></footer>

<!--Footer End-->

<script src="/admin/admin.js"></script>
</body>
</html>