/* 관리자페이지 공통 범위 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, li {
    list-style:none;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: gray;
}

body {

    overflow-y: scroll;
    padding-top: 70px;
}


/* Header Css Start */
header {
    width: 1200px;
    display:flex;
    justify-content:space-around;
    background: linear-gradient(white 50px,
        rgba(255, 255, 255, 0.9) 50px,
        rgba(255, 255,255, 0.9) );
    height: 50px;
    overflow: hidden;
    transition: height 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
}

header > div {
    line-height: 50px;
}

nav > ul > li {
    float: left;
    line-height: 50px;
    margin-right: 40px;
    position: relative;
}

nav > ul > li ul {
    width: 100%;
    position: absolute;
}

nav > ul > li ul li {
    white-space: nowrap;
}

#fromInsideOut li:hover {
    content: "";
    border-bottom: 0.5px solid #000;
    transition: all 250ms ease-out;
}

#fromInsideOut a:hover {
    color:#FFC81E;
}


/* Header Css End */

/* Section Css Start */
section {
    width: 800px;
    margin: 0 auto;
}

#calendar {
    margin-top: 100px;
}

/* Section Css End */

/* Footer Css Start */
footer {
    width: 1200px;
    margin: 0 auto;
}


/* Footer Css End */


