@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 관리자페이지 공통 범위 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

/*
    ul, li 태그 리스트 모양 제거
*/
ul, li {
    list-style:none;
}

/*
    clear: float 속성 제거
        -none: 기초값 clear를 설정하지 않은값.
        -left: 왼쪽 취소
        -right: 오른쪽 취소
        -both: 오른쪽 왼쪽 모두 취소
*/
.hwClearFix:after {
    content: ' ';
    display: block;
    clear: both;
}

/*
  a(anchor):
  - 링크 밑줄 제거
  - a태그 색상 변경
*/
a {
    text-decoration: none;
    color: gray;
}

/*
    Header 부분 position: absolute 설정으로 인하여
    body(본문) 내용 시작 위치 강제 변경
 */
body {
    overflow-y: scroll;
    padding-top: 100px;
}

/* Header Css Start */
header {
    width: 1200px;
    display:flex;
    justify-content:space-around;
    background: linear-gradient(white 100px,
        rgba(255, 255, 255, 0.9) 100px,
        rgba(255, 255,255, 0.9) );
    height: 100px;
    overflow: hidden;
    transition: height 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
}

header > div {
    line-height: 50px;
}

nav > ul > li {
    float: left;
    line-height: 100px;
    margin-right: 40px;
    font-size:18px;
    position: relative;
}

.hwHeaderBtn {
    text-align: center;
    line-height: 100px;
}

nav > ul > li ul {
    width: 100%;
    line-height:20px;
    position: absolute;
}

nav > ul > li ul li {
    white-space: nowrap;
    font-size: 15px;
    margin-bottom: 15px;
}

#fromInsideOut li span:hover {
    content: "";
    border-bottom: 0.5px solid #000;
    transition: all 250ms ease-out;
}

#fromInsideOut a:hover {
    color:black;
}

.imgLogo {
    width:100px;
    height:100px;
}


/* Header Css End */

/* Section Css Start */
section {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;

}

#hwCalendar {
    margin-top: 100px;
}

/* Section Css End */

/* Footer Css Start */
footer {
    width: 1200px;
    margin: 0 auto;
}

/* Footer Css End */

/* 게시판 등록 css Start */


.hwInputField {
  margin-top: 20px;
  margin-bottom: 10px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.hwInputField input {
  width: 100%;
  height: 100%;
  color: gray;
  padding-top: 20px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 16px;

}
.hwInputField label {
  color: gray;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid gray;

}
.hwInputField label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.hwContentName {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.hwInputField input:focus {
  outline: none;
}
.hwInputField input:focus + .hwLabelName .hwContentName,
.hwInputField input:valid + .hwLabelName .hwContentName {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: black;
}
.hwInputField input:focus + .hwLabelName::after,
.hwInputField input:valid + .hwLabelName::after {
  transform: translateX(0%);
}

.hwInputGroup {
    width: 600px;
    margin: 0 auto;
    padding: 30px;

}

/* 게시판 등록/수정 페이지 제목  */
.hwInputGroup h3, .hwInputGroup h2 {
    color: black;
    text-align: left;
    margin-bottom: 10px;
}

.hwInputGroup h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.hwToggleRadio {
    color:gray;
    display: flex;
    justify-content: space-between;
}

.hwToggleRadio > div > label{
    margin-right: 10px;
}

.hwInputGroup > .hwError {
    color: red;
}

.hwSpanRed {
    color: red;
    border-bottom: 1px solid red;
}

.hwDivBtn {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.hwDivBtn > button {
    margin: 20px;
}

.hwAdminBtn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 0.5px solid gray;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    /*transition: all 0.3s ease;*/
    position: relative;
    display: inline-block;
}

.btn-10 {
    /*transition: all 0.3s ease;*/
    overflow: hidden;
}

.btn-10:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /*transition: all 0.3s ease;*/
    -webkit-transform: scale(.1);
    transform: scale(.1);
}

.btn-10:hover {
    color: #fff;
}

.btn-10:hover:after {
    background: #FFB400;
    -webkit-transform: scale(1);
    transform: scale(1);
}

form {
    margin: 0 auto;
    width: 600px;
    border: solid 0.5px gray;
}

/* 게시판 등록 css End */