/* 관리자페이지 공통 범위 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, li {
    list-style:none;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: gray;
}

body {

    overflow-y: scroll;
    padding-top: 70px;
}


/* Header Css Start */
header {
    width: 1200px;
    display:flex;
    justify-content:space-around;
    background: linear-gradient(white 50px,
        rgba(255, 255, 255, 0.9) 50px,
        rgba(255, 255,255, 0.9) );
    height: 50px;
    overflow: hidden;
    transition: height 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
}

header > div {
    line-height: 50px;
}

nav > ul > li {
    float: left;
    line-height: 50px;
    margin-right: 40px;
    position: relative;
}

nav > ul > li ul {
    width: 100%;
    position: absolute;
}

nav > ul > li ul li {
    white-space: nowrap;
}

#fromInsideOut li:hover {
    content: "";
    border-bottom: 0.5px solid #000;
    transition: all 250ms ease-out;
}

#fromInsideOut a:hover {
    color:#FFC81E;
}


/* Header Css End */

/* Section Css Start */
section {
    width: 800px;
    margin: 0 auto;
}

#calendar {
    margin-top: 100px;
}

/* Section Css End */

/* Footer Css Start */
footer {
    width: 1200px;
    margin: 0 auto;
}

/* Footer Css End */

/* 게시판 등록 css Start */


.input-field {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.input-field input {
  width: 100%;
  height: 100%;
  color: #FFC81E;
  padding-top: 20px;
  border: none;
  border-bottom: 1px solid gray;

}
.input-field label {
  color: gray;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid gray;

}
.input-field label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #fce38a;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.input-field input:focus {
  outline: none;
}
.input-field input:focus + .label-name .content-name,
.input-field input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: #fce38a;
}
.input-field input:focus + .label-name::after,
.input-field input:valid + .label-name::after {
  transform: translateX(0%);
}

.btn {
    margin-top: 10px;
}

img {
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

/* 게시판 등록 css End */