<!-- 게시판 등록 템플릿 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/main}">

<section layout:fragment="adminContent">
    <form th:action="@{/admin/board/save}" method="post">
        <input type="hidden" name="mode" value="add">
        <th:block th:replace="~{admin/board/form:: form}"></th:block>

        <div class="hwDivBtn">
            <div>
                <button type="button" class="hwAdminBtn btn-10"><span>List</span></button>
            </div>
            <div>
                <button type="reset" class="hwAdminBtn btn-10"><span>Reset</span></button>
                <button type="submit" class="hwAdminBtn btn-10"><span>Submit</span></button>
            </div>
        </div>
    </form>
</section>
</html>