<!-- 게시판 등록 템플릿 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/main}">

<section layout:fragment="adminContent">
    <form th:action="@{/admin/board/save}" method="post">
        <input type="hidden" name="mode" value="edit">
        <th:block th:replace="~{admin/board/form:: form}"></th:block>

        <div class="hwAdminBtn">
            <button type="button" class="btn"><a>돌아 가기</a></button>
            <button type="submit" class="btn">수정 하기</button>
        </div>
    </form>
</section>
</html>