<!-- 등록된 게시판 리스트 조회 템플릿 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/main}">

<section layout:fragment="adminContent">

    <h2>게시판 전체 검색</h2>
    <form class="search-box" action="" method="get">
        <input type="text" class="search-txt" name="" placeholder="검색어를 입력하세요.">
        <button class="search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    <h2>게시판 전체 목록</h2>
    <table class="hwAdminTable">
        <thead class="hwAdminTHead">
            <tr class="hwAdminBoardTr">
                <th class="hwAdminBoardTh">게시판 ID</th>
                <th class="hwAdminBoardTh">카테고리 이름</th>
                <th class="hwAdminBoardTh">진열 가중치</th>
                <th class="hwAdminBoardTh">사용 여부</th>
                <th class="hwAdminBoardTh">수정</th>
                <th class="hwAdminBoardTh">삭제</th>
            </tr>

        </thead>
        <tbody class="hwAdminTBody">
        <tr th:each="boardDto : ${items}">

            <td th:text="${boardDto.bid}" class="hwAdminBoardTd"></td>
            <td th:text="${boardDto.category}" class="hwAdminBoardTd"></td>
            <td th:text="${boardDto.listOrder}" class="hwAdminBoardTd"></td>
            <td th:if="${boardDto.active == true}" class="hwAdminBoardTd">사용중</td>
            <td th:if="${boardDto.active != true}" class="hwAdminBoardTd">미사용</td>
            <td class="hwAdminBoardTd">
                <a th:href="@{/admin/board/edit/{boardDto.bid}(boardDto.bid=*{boardDto.bid})}">수정</a>
            </td>
            <td class="hwAdminBoardTd">
                <a href="javascript:void(0);"
                th:data-uri="@{|/admin/board/delete/${boardDto.bid}|}"
                th:text="삭제"
                class="delete"></a>
            </td>
        </tr>
        </tbody>
    </table>


</section>
</html>