<!-- 등록된 게시판 리스트 조회 템플릿 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/main}">

<section layout:fragment="adminContent">
    (연결성공 확인) 2월 13일 17시 53분
    <h2>게시판 전체 검색</h2>
    <form>

    </form>

    <h2>게시판 전체 목록</h2>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>게시판 ID</th>
                <th>카테고리 이름</th>
                <th>게시판 이름</th>
                <th>수정 하기</th>
            </tr>

        </thead>
        <tbody>
        <tr th:each="boardDto : ${items}">

            <td th:text="${boardDto.bid}"></td>
            <td th:text="${boardDto.category}"></td>
            <td th:text="${boardDto.bName}"></td>
            <td>
                <a th:href="@{/admin/board/edit/{boardDto.bid}(boardDto.bid=*{boardDto.bid})}">수정하기</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>게시판 아이디 목록</h2>

</section>
</html>