<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layout/main}">

<!--창희
<div th:fragment="frontContent">
-->
<main layout:fragment="frontContent">
    <div class="hwMainSearchOutDiv">
    <div class="hwMainSearchDiv">
        <div class="hwMainSearchInDiv">
        <input type="text" placeholder="검색어를 입력하세요" class="hwMainSearchInput" >
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        </div>
    </div>
    <div>
        <ul>
            <li>
                <a th:href="@{/admin}">ADMIN 이동(임시)</a>
            </li>
        </ul>
    </div>
    <article>
        <div class="hwBanner">
            <figure class="hwBannerBox"></figure>
        </div>
    </article>

    <article>
        <h2>커뮤니티</h2>
    </article>



</main>
<!--창희 </div> -->

</html>

