<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layout/main}">

<!--창희
<div th:fragment="frontContent">
-->
<main layout:fragment="frontContent">

    <div>
        <ul>
            <li>
                <a th:href="@{/admin}">ADMIN 이동(임시)</a>
            </li>
        </ul>
    </div>
    <article>
        <div class="hwBanner">
            <figure class="hwBannerBox">배너박스</figure>
        </div>
    </article>

    <article>
        게시판들 들어갈 영역(front/index로 오세요~^^)
    </article>



</main>
<!--창희 </div> -->

</html>

