<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World | MAIN</title>
</head>
<body>
<!-- Header Start -->
<div th:replace="~{front/layout/header:: headerFragment}"></div>

<!-- Header End -->

<!-- Main Start -->
<div>

    <!--Content Start-->
   <!--창희 <div th:replace="~{/front/index:: frontContent}"> -->
    <main layout:fragment="frontContent"></main>


</div>
    <!--Content End-->

</div>


<!-- Main End -->

<!-- Footer Start -->

<div th:replace="~{front/layout/footer:: footerFragment}"></div>


<!-- Footer End -->

</body>
</html>